//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    
    // subsamples
    //reads = "/projectnb/bf528/materials/project-2-rnaseq/subsampled_files/*{R1,R2}.subset.fastq.gz"

    // full files
    reads = "/projectnb/bf528/materials/project-2-rnaseq/full_files/*{R1,R2}.fastq.gz"

    genome = "/projectnb/bf528/materials/project-2-rnaseq/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/materials/project-2-rnaseq/refs/gencode.v45.primary_assembly.annotation.gtf"

    // Directories
    outdir = "$projectDir/results/"

    // Custom parameters

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4
                
                withLabel: process_medium {
                    cpus = 8
                }

                withLabel: process_high {
                    cpus = 16
                    clusterOptions = '-P bf528 -pe omp 16'
                }

                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
//Adjust as necessary
executor {
    $sge {
        queueSize = 12
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
//resume = true